@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* font-family: 'Lato', sans-serif; */

/* typography */
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #7c858b;
}

/* Layout */
.container {
  width: 1170px;
  margin: 0 auto;
}

.header nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 47px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  transition: background 0.3s, box-shadow 0.3s;
}

.header nav .logo span {
  font-size: 13px;
  color: #fff;
  margin-left: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header nav ul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1170px;
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.header nav ul li {
  margin-left: 45px;
}
.header nav ul li a {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* nav 클래스명 fixed */
.header nav.fixed {
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.header nav.fixed .logo span,
.header nav.fixed ul li a {
  color: #0b131a;
}
.header nav.fixed ul li a:hover {
  color: #ffba00;
}

.toggle-btn {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fixed .toggle-btn {
  border-color: #ececed;
}

/* 토글 메뉴 */
.toggle-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(11, 19, 26, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.toggle-menu.active {
  visibility: visible;
  opacity: 1;
}

.toggle-menu .close {
  position: absolute;
  top: 52px;
  right: 65px;
  cursor: pointer;
}

.toggle-menu ul li {
  margin-bottom: 50px;
}

.toggle-menu ul li:last-child {
  margin-bottom: 0;
}

.toggle-menu ul li a {
  font-size: 27px;
  letter-spacing: 0.1;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.toggle-menu ul li a:hover {
  color: #ffaa00;
}

.fixed-nav {
  position: fixed;
  left: 50%;
  z-index: 999;
  top: 50%;
  margin-left: 540px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}
.fixed-nav a {
  text-indent: -9999em;
  width: 12px;
  height: 12px;
  border: 2px solid #879099;
  box-sizing: border-box;
  background: none;
  border-radius: 50%;
  margin-bottom: 16px;
}

.fixed-nav a:last-child {
  margin-bottom: 0px;
}

.fixed-nav a.active {
  border: none;
  background: #4c5a5a60;
}

.fixed-nav a.active-black {
  border: none;
  background: #ffba00;
}

/* .fixed-nav a:nth-child(2n).active {
  background: #000;
} */

/* Main Page Slide */
.swiper {
  width: 100%;
  height: 100%;
}

.main-slides .swiper-slide {
  background: no-repeat center center/cover;
  z-index: 1;
}
.main-slides .swiper-slide .container {
  padding-top: 300px;
}

.main-slides .swiper-slide::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.swiper-slide.slide1 {
  background-image: url('../images/slide1.jpg');
}

.swiper-slide.slide2 {
  background-image: url('../images/slide2.jpg');
}

.swiper-slide.slide3 {
  background-image: url('../images/slide3.jpg');
}

.swiper-button-next,
.swiper-button-prev {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 89px;
  height: 36px;
  border-radius: 18px;
  background-color: #020405;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.swiper-button-next {
  margin-left: 629px;
}
.swiper-button-prev {
  margin-left: -629px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

/* slider btn arrow */
.big-arrow-left {
  width: 27px;
  height: 12px;
  background-position: 0 0;
}

.big-arrow-right {
  width: 27px;
  height: 12px;
  background-position: -37px 0;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ffba00;
}
.swiper-button-prev:hover .big-arrow-left,
.swiper-button-next:hover .big-arrow-right {
  background-position-y: -18px;
}

/* Main-page slogan */
.slogan {
  margin-left: 100px;
}

.slogan h2 {
  font-size: 95px;
  line-height: 90px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}

.slogan p {
  margin: 15px 0 38px;
  color: #b1bfcc;
}

.sm-arrow-right {
  width: 18px;
  height: 10px;
  background-position: -74px 0;
  margin-left: 18px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background: none;
  opacity: 1;
  margin: 0 8px;
}

.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: none;
  background: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 54px;
}

/* --- secondPage --- */
.story > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story .contents {
  width: 868px;
  text-align: center;
}

.story .contents h2 {
  font-size: 65px;
  font-weight: 900;
  color: #0b131a;
  text-transform: uppercase;
}

.story .contents p {
  padding: 27px 0 0;
}

.title_bar {
  position: relative;
}

.title_bar::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 91px;
  background-color: #ffba00;
  bottom: calc(100% + 40px);
}

.title_bar.center::before {
  left: 50%;
  transform: translateX(-50%);
}
.title_bar.left::before {
  left: 0;
}

/* story scroll */
.story .scroll_down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  width: 36px;
  height: 89px;
  border-radius: 18px;
  background: #fff;
  border: 1px solid #ececed;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big_arrow_down {
  width: 12px;
  height: 27px;
  background-position: 0 -40px;
  animation: clipani 1.2s infinite;
  position: absolute;
}

@keyframes clipani {
  from {
    clip: rect(0, 12px, 0, 0);
  }
  to {
    clip: rect(0, 12px, 30px, 0);
  }
}

/* --- thirdPage ---*/

.forest {
  background: url(../images/forest.jpg) no-repeat center center/cover;
}
.forest .contents {
  width: 571px;
  text-align: left;
}

/* river */
.river .contents {
  width: 571px;
  text-align: left;
}

/* road */

.road {
  background: url(../images/road.jpg) no-repeat center center/cover;
}

.road::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.road .container {
  position: relative;
  z-index: 1;
}
.road .contents {
  width: 571px;
  text-align: left;
  z-index: 1;
}

/* footer */
.footer {
  padding: 86px 0 60px;
}

.footer_menu,
.social_menu {
  display: flex;
  justify-content: center;
}

.footer_menu {
  margin-bottom: 75px;
}

.footer_menu li {
  margin: 0 25px;
}

.footer_menu li a {
  font-weight: 900;
  color: #0b131a;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 18px;
}

.footer_menu li a:hover {
  color: #ffaa00;
}

.social_menu li {
  margin: 0 6px;
}

.social_menu li a {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #ececed;
  background-color: #fff;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  color: #0b131a;
}

.social_menu li a:hover {
  color: turquoise;
}
.copyright {
  margin-top: 17px;
  text-align: center;
  font-size: 16px;
}

/* back to top !! */
.back_to_top {
  visibility: hidden;
  position: fixed;
  left: 50%;
  margin-left: 621px;
  bottom: 290px;
  width: 36px;
  height: 89px;
  border-radius: 18px;
  background: #ffbb00;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}

.back_to_top.active {
  visibility: visible;
  opacity: 1;
}

.big_arrow_up {
  width: 12px;
  height: 27px;
  background-position: -27px -40px;
}

/* -------***------- ABOUT -------***------- */
.subpage-banner {
  background: no-repeat center center/cover;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.subpage-banner::after {
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.subpage-banner.about {
  background-image: url(../images/banner-about.png);
}

.subpage-banner .contents {
  text-align: center;
  margin-top: 40px;
}

.subpage-banner h2 {
  font-size: 95px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 28px;
  line-height: 95px;
}

.subpage-banner p {
  font-size: 18px;
  color: #b1bfcc;
  margin-bottom: 0;
}

/* Subpage - toggle-btn */
.subpage .toggle-btn {
  background-color: #ffaa00;
}

/* Subpage - Main Contents */
.our-story {
  display: flex;
  flex-wrap: wrap;
}

.our-story > div {
  width: 50%;
  height: 700px;
}

.story-img,
.do-img {
  background: no-repeat center center/cover;
  text-indent: -9999em;
}

.story-contents,
.do-contents {
  padding: 0 88px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.story-img {
  background-image: url(../images/ourstory-img.png);
  order: 1;
}

.story-contents {
  order: 2;
}

.do-contents {
  order: 3;
}

.do-img {
  background-image: url(../images/do-img.png);
  order: 4;
}

.our-story > .contents {
  margin-top: 40px;
}

.our-story .contents h2 {
  font-size: 65px;
  color: #0b131a;
}

.our-story > .contents p {
  margin-bottom: 0;
}

/* Subpage - people says */
.people-says {
  background-color: #f9f9f9;
}

.testimonial-slides .swiper-slide {
  padding: 225px 0 130px;
}
.testimonial-slides .contents {
  width: 770px;
  margin: 0 auto;
  text-align: center;
}

.testimonial-slides .contents h2 {
  font-size: 65px;
  color: #0b131a;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 65px;
  margin-bottom: 30px;
}

.reviewer h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #111c26;
  margin: 20px 0 2px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.reviewer p {
  font-size: 16px;
  color: #ffaa00;
}

/* Subpage - need help */
.help {
  background-color: #0b131a;
  padding: 190px 0 115px;
}

.help .contents {
  width: 770px;
  margin: 0 auto;
  text-align: center;
}

.help .contents h2 {
  font-size: 65px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 65px;
  margin-bottom: 15px;
}

/* *** Subpage swiper btn ->
 화살표 꾸미기 위해 서브페이지는 따로 설정했음 *** */
.sub_btn,
.sub_btn {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 89px;
  height: 36px;
  border-radius: 18px;
  background-color: transparent;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.sub_btn .big-arrow-left,
.sub_btn .big-arrow-right {
  background-position-y: -18px;
}

/* -------***------- PORTFOLIO -------***------- */
/* *** main - contents *** */
.filters {
  padding: 45px 0;
  display: flex;
  justify-content: center;
}

.filters button {
  margin: 0 25px;
  color: #0b131a;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters button.active {
  color: #ffaa00;
}

/* portfolio list */
.portfolio_list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio_list li {
  width: 33.3%;
  height: 700px;
  background: no-repeat center center/cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  position: relative;
  z-index: 1;
}

.portfolio_list li h2 {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 10px;
}

.portfolio_list li h2::before {
  bottom: calc(100% + 30px);
}

.portfolio_list li p {
  font-size: 18px;
  color: #bdcbd9;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.portfolio_list li > * {
  visibility: hidden;
}

.portfolio_list li:hover > * {
  visibility: visible;
}

.portfolio_list li::after {
  content: '';
  position: absolute;
  background-color: #0b131a;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.7s;
  z-index: -1;
}

.portfolio_list li:hover::after {
  opacity: 1;
}

/* *** loadmore *** */
.loadmore {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b131a;
}

#loadmore {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.subpage-banner.portfolio {
  background-image: url(../images/banner-work.jpg);
}
